<div id="intro">
  <div class="item background-cover" style="background: url('../assets/home1.jpg') center center no-repeat">
    <div class="container">
      <div class="row">
        <div class="carousel-caption-center colour-white">
          <p>
            <a href="../users/auth/twitter"><button class="btn btn-twitter btn-width twitter-login-blue" style="background-color:#4099ff; margin-bottom: 0px;"><i class="fa fa-twitter"></i> | Log In With Twitter</button></a>
            <hr class="socials-seperator">
            <a href="../users/auth/facebook"><button class="btn btn-facebook btn-width facebook-login-blue" style="background-color:#3b5998;"><i class="fa fa-facebook"></i> | Log In With Facebook</button></a>
          </p>
        </div>
      </div>
    </div>
    <div class="overlay-bg"></div>
  </div>
</div>
